.galerie{
    column-count: 3;

}
img{
    width: 100%;
}
h2 {
    font-size: 2.5rem;
    color: #2c3e50;
    margin-bottom: 1.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-self: center;
    margin: 30px;
}

h2::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 4px;
    background: linear-gradient(90deg, #3498db, #ebedec);
    border-radius: 2px;
}